body {
    text-align: center;
    background-image: url(vintage-polka-dot-2316.png);
    background-color: #FFE4C4;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}

tr {
    height: 20px;
}

td {
    height: 20px;
    width: 20px;
}

input[type=number] {
    width: 6em;
}

#colorpicker{
    outline: none;
}

label{
    font-weight: 800;
}